<h1>Tools#show</h1>
<p>Find me in app/views/tools/show.html.erb</p>

<h2><%= @tool.name %></h2>

<h4>
  <%= @tool.quantity %> available
</h4>

<%= form_for @checkout, :html => {:class => "form-horizontal"} do |f| %>
  <div class="form-group col-md-6">
    <%= f.label :checkout_date, class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.text_field :checkout_date, id: 'checkout', class: "form-control" %>
      <%= render "shared/error_messages", obj: @checkout, col: :checkout_date %>
    </div>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :due_date, class: "col-md-6 control-label" %>
    <div class="col-md-6">
      <%= f.text_field :due_date, id: 'duedate', class: "form-control"%>
      <%= render "shared/error_messages", obj: @checkout, col: :due_date %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Checkout", class: "btn btn-submit"%>
  </div>
<% end %>

<script charset="utf-8">
$('#checkout').datetimepicker({
  timepicker:false,
  datepicker:true,
  format:'d/m/Y H:i'
});

$('#duedate').datetimepicker({
  datepicker:true,
  timepicker:false,
  format:'d/m/Y H:i'
});
</script>
