<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<div class="sign-up">
  <h2>Sign Up</h2>
  <%= link_to image_tag("twitter-logo.png"), "/auth/twitter" %>
    <%= form_for @user do |f| %>
      <div class="form-field">
        <%= f.label :name%>
        <%= f.text_field :name%>
        <%= render "shared/error_messages", obj: @user, col: :name %>
      </div>

      <div class='form-field'>
        <%= f.label :email%>
        <%= f.text_field :email%>
        <%= render "shared/error_messages", obj: @user, col: :email %>
      </div>

      <div class="form-field">
        <%= f.label :username %>
        <%= f.text_field :username%>
        <%= render "shared/error_messages", obj: @user, col: :username %>
      </div>

      <div class="form-field">
        <%= f.label :password%>
        <%= f.password_field :password%>
        <%= render "shared/error_messages", obj: @user, col: :password %>
      </div>

      <div class="form-field">
        <%= f.label :password_confirmation%>
        <%= f.password_field :password_confirmation%>
        <%= render "shared/error_messages", obj: @user, col: :password_confirmation %>
      </div>

      <div class="form-field">
        <%= f.submit %>
      </div>
    <% end %>
</div>

<div class="sign-in">
  <h2>Sign In</h2>
  <%= form_tag login_path("internal") do%>
    <div class="form-field">
      <%= label_tag "user[username]", "Username" %>
      <%= text_field_tag "user[username]" %>
    </div>

    <div class="form_field">
      <%= label_tag "user[password]", "Password" %>
      <%= password_field_tag "user[password]" %>
    </div>

    <div class="form_field">
      <%= submit_tag "Sign in"%>
    </div>
  <% end %>
</div>
