<h2><strong><%= current_member.username %> : Profile</strong></h2>
<div id="display_profile" style="display:block">
  <div>
    <strong>Username:</strong> <%= current_member.username %>
  </div>
  <div>
    <strong>Name:</strong> <%= current_member.name %>
  </div>
  <div>
    <strong>Email:</strong> <%= current_member.email %>
  </div>
<%= link_to "Edit Profile", "#edit_profile", class:"btn btn-warning btn-xs", role:"button" %>
</div>
<div id="edit_profile" style="display:none">
  <%= form_for current_member, url: user_path do |f| %>
  <div class="field">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </div>
  <div id="submit">
    <%= f.submit "Save Profile", :class => "edit-profile btn btn-warning btn-xs" %>
  </div>
  <% end %>
</div>

<div class="user-post">
  <% if @posts %>
    <% @posts.each do |post| %>
    <div class="post">
      <h4><%= post.title %></h4>
      <div>
        <p><%= truncate(post.content, length: 400) %></p>
      </div>
      <div class="read-more">
        <%= link_to "Edit Post", edit_blogpost_path(post.id) %>
      </div>
      <hr>
    </div>
    <% end %>
  <% end %>
</div>
