<!DOCTYPE html>
<html>
<head>
  <title>PPathLightyellow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">
  <header class="nav-bar navbar-fixed-top">
    <span class="brand-header">
      <%= link_to image_tag("p.png"), root_path, class: "logo1" %>
      <%= link_to image_tag("patch.png"), root_path, class: "logo2" %>
    </span>

    <span class="signin-header">
    <% if session[:current_member] == nil %>
      <%= link_to "Become a Member", new_user_path%> |
        <%= link_to "Sign in", signin_path %>
      <% else %>
      <%= link_to "#{current_member.username}", user_path(current_member.id) %> |
        <%= link_to "Sign out", logout_path, :method => "delete"  %>
      <% end %>
    </span>

    <span class="link-header">
      <ul>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Calendar", calendar_path %></li>
        <li><%= link_to "Tool Library", tools_path %></li>
        <li><%= link_to "News", blogposts_path %></li>
        <li><%= link_to "Weather", weather_path %></li>
      </ul>
    </span>

  </header>
  <div class="container">
    <%= yield %>
  </div>

  <script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'p-patch'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>
</body>
</html>
